entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["zip"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_API_BASE = "https://664823cb-86c7-4fba-bb94-0a07da097aeb-00-tmqkd3bttqp0.pike.replit.dev"
NEXT_PUBLIC_SUPABASE_URL = "https://qkaspubhfgvwlhsabynf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrYXNwdWJoZmd2d2xoc2FieW5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI5OTQ3NjMsImV4cCI6MjA0ODU3MDc2M30.qhTO5vJwEi3RrRKGPGzDBzVzG8b9Y_fJ_-Ij9lAPKGU"
